.SubmitEntry-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.SubmitEntry-container .head {
  margin: .5rem 0;
  color: #838383;
  font-size: 1.167rem;
}

.SubmitEntry-container .entry-form {
  display: flex;
  justify-content: space-between;
  position: relative;
}
