.register-dialog {
  padding: 0;
  width: 23rem !important;
  max-width: 100%;
  font-size: 1.167rem;
  box-sizing: border-box;
}

.login-dialog {
  padding: 0;
  margin: 0;
  width: 23rem !important;
  max-width: 100%;
  font-size: 1.167rem;
  box-sizing: border-box;
}

.App-body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.welcome-view {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 1.767rem;
}

.category-nav {
  background-color: #db1f00;
  width: 140px;
  position: fixed;
  top: 6.66rem;
}

.main {
  width: 100%;
  /*margin-left: 13rem;*/
}

.sidebar {
  background-color: #a8b9e3;
  width: 19.2rem;
  box-sizing: border-box;
  margin-top: 4rem;
  margin-left: 1rem;
}

