.user-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-entries {
  width: 50%;
}
