.entry {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(178,186,194,.15);
  height: 8.5rem;
}

.entry a {
  text-decoration:none
}

.entry .content-box {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
}

.content-box .thumb {
  flex: 0 0 auto;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  border-radius: 2px;
  background-repeat: no-repeat;
}

.info-box {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.meta-row {
  font-size: 1rem;
  color: #b2bac2;
}

.title-row {
  margin: .5rem 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #2e3135;
}

.action-row {
  color: #b2bac2;
}

.entry-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 .8rem;
  height: 2rem;
  width: 2.5rem;
  font-size: 1.083rem;
  line-height: 1;
  color: #b2bac2;
  border-radius: 1px;
  border: 1px solid #edeeef;
}

.entry-title-box {
  display: flex;
  align-items: center;
  padding: 0 .8rem;
  height: 100%;
}

.entry-collectionCount {
  padding-left: 0.5rem;
  color: #8c939d;
}
